.contact-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.contact-header {
  font-size: 2rem;
}

.contact-button {
  background-color: white;
  padding: .75rem 1rem;
  border: 2px solid black;
  transform: translateY(0);
  transition: transform 0.1s ease-in-out;
}

.contact-button:active {
  transform: translateY(2px);
  border-color: #999999;
}

.contact-description {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
}

@media (min-width: 1024px) {

  .contact-section {
    padding-bottom: 3rem;
    align-items: flex-start;
  }

  .contact-header {
    font-size: 3rem;
  }

  .contact-button {
    background-color: #FFFFFF;
    padding: .75rem 1.5rem;
    width: 20%;
  }

  .contact-description {
    // padding-bottom: .75rem;
    font-size: 1.25rem;
  }
}